.entries {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.entry {
  background-color: #adadad23;
  border: 1px solid #c2c2c274;
  width: 75%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.entry:last-of-type {
  margin-bottom: 0;
}

.entry img {
  border-radius: 20px;
}

.entry .details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.entry h2 {
    margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.entry p {
  text-align: justify;
  font-size: 1.25rem;
}

@media screen and (max-width: 760px) {
  .entry {
    flex-direction: column;
  }
  .entry .details {
    width: 100%;
  }
  .entry {
    width: 100%;
  }
}
