.create-post {
    min-height: 81vh;
}

.input-container {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
}

.input-container input[type="text"] {
  width: 100%;
}

.quill {
    background-color: #232323;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    width: 300px;
    margin-bottom: 5px;
    outline: 1px solid #232323;
}

.form-actions button:hover {
    outline: none;
    border: 1px solid #f4f4f4;
}