.picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.picture img {
  border-radius: 25px;
  height: 630px;
  width: 1200px;
  background-color: #404040;
}

.details {
  width: 100%;
  text-align: center;
}

.details h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.details h6 .createdAt {
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 10px;
  background-color: #393939;
  color: #fff;
}

.content {
  padding: 10px;
  text-align: left;
  background-color: #393939;
  border: 1px solid #a1a1a1;
  border-radius: 25px;
  padding: 25px;
  font-size: 1.25rem;
}

.actions {
  text-align: center;
  margin-bottom: 30px;
}

.buttons {
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f4f4f451;
  margin-right: 10px;
}

.buttons:last-of-type {
  background-color: rgb(255, 81, 81);
  margin-right: 0;
}
