.entry {
  background-color: #adadad23;
  border: 1px solid #c2c2c274;
  width: 75%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.entry .details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.entry:last-of-type {
  margin-bottom: 0;
}

.entry img {
  border-radius: 20px;
  width: 400px;
  height: 200px;
}

.entry .details {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.entry .title {
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.entry .title-box {
  margin-bottom: 10px;
}

.entry h6 {
  font-size: 0.9rem;
  margin: 0;
}

.entry p {
  text-align: justify;
  font-size: 1.25rem;
}

@media screen and (max-width: 760px) {
  .entry {
    flex-direction: column;
    width: 100%;
  }
  .details {
    width: 100%;
  }
}
