.nav {
  padding: 10px;
  background-color: var(--var-color-2);
}

.nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: row;
  gap: 30px;
}

a {
  font-weight: 500;
  color: #f4f4f4;
  text-transform: capitalize;
  text-decoration: none;
}

a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.active:focus {
  color: #c2c2c2;
}
