.nav {
  padding: 10px;
  background-color: var(--var-color-2);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.nav .username {
  margin-right: 20px;
  background-color: #f4f4f4;
  color: rgb(44, 44, 44);
  padding: 15px;
  border-radius: 10px;
}

.nav .username i{
  font-size: 1rem ;
}

.nav .loggedin {
  gap: 10px;
}

.anchor {
  background-color: rgb(44, 44, 44);
  padding: 15px;
  border-radius: 10px;
}

.anchor:hover {
  outline: 1px solid #c2c2c2;
}

.nav .logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav .logo:hover {
  color: #f4f4f4;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: row;
  gap: 30px;
}

a {
  font-weight: 500;
  color: #f4f4f4;
  text-transform: capitalize;
  text-decoration: none;
}

a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.active:focus {
  color: #c2c2c2;
}
