.nav {
  padding: 10px;
  background-color: var(--var-color-2);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  backxxground: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav .loggedin {
  gap: 10px;
}

.anchor {
  background-color: rgb(44, 44, 44);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(44, 44, 44, 0.467);
}

.neumorphic:hover {
  transition: 0.5s;
  border-radius: 10px;
  background: #333333;
  box-shadow: inset -26px 26px 53px #262626, inset 26px -26px 53px #404040;
}

.nav .logo {
  font-size: 2rem;
  font-weight: 700;
}

.nav .logo:hover {
  color: #f4f4f4;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-direction: row;
  gap: 30px;
}

a {
  font-weight: 500;
  color: #f4f4f4;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 50px;
}

a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.active:focus {
  color: #c2c2c2;
}

.logout:hover {
  color: #262626;
  background-color: rgb(255, 81, 81);
  background: #ff6666;
  box-shadow: inset -26px 26px 53px #e35b5b, inset 26px -26px 53px #ff7171;
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
