.bg {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: brightness(45%);
}

.blur {
  animation: blur 0.5s reverse;
  animation-fill-mode: forwards;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(7px);
  }
}
