.invalid-container {
  background-color: rgb(255, 74, 74);
  margin-top: 10px;
  border-radius: 10px;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  padding: 10px;
  height: max-content;
  text-align: center;
}

.form-validation {
  margin-bottom: 10px;
}
